.orders-page {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

/* TOP BAR */
.orders-top {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-order-btn {
  width: 180px;
  height: 38px;
  background: #2947a3;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

.orders-actions {
  display: flex;
  gap: 120px;
  margin-right: 95px;
  font-size: 14px;
  font-weight: 700;
}

/* SUMMARY */
.orders-summary {
  margin-top: 18px;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.order-box {
  padding: 16px;
  font-size: 15px;
  font-weight: 800;
}

.order-box.blue {
  background: #2f4380;
}

.order-box.orange {
  background: #c97035;
}

.order-box.green {
  background: #2c6b20;
}

/* TABLE WRAPPER */
.orders-table-wrapper {
  margin-top: 20px;
  height: calc(100vh - 100px - 18px - 44px - 18px - 70px - 40px);
  overflow: hidden;
}

/* TABLE */
.orders-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 13px;
  font-weight: 700;
}

/* HEADER */
.orders-table thead tr {
  height: 48px;
  background: #1c1c1c;
}

.orders-table th {
  padding: 0 20px;
  text-align: left;
}

/* ROWS */
.orders-table tbody tr {
  height: 48px;
}

.orders-table tbody tr:nth-child(odd) {
  background: #393a35;
}

.orders-table tbody tr:nth-child(even) {
  background: #20201f;
}

.orders-table tbody tr:hover {
  background: #444;
}

/* CELLS */
.orders-table td {
  padding: 0 20px;
  vertical-align: middle;
}

/* STATUS BADGES */
.order-status {
  display: inline-block;
  min-width: 100px;
  padding: 6px 12px;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  color: white;
}

.order-status.pending {
  background: #c97035;
}

.order-status.approved {
  background: #2f4380;
}

.order-status.completed {
  background: #2c6b20;
}

/* BUTTONS */
.order-table-btn {
  background: #2e2e2e;
  color: white;
  border: none;
  padding: 6px 14px;
  margin-right: 10px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
}

.order-table-btn:hover {
  background: #444;
}